/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  background-color: #388edf;
  color: white;
}

.logo {
  font-size: 40px;
  background-image: url("./logo.svg");
  text-decoration: none;
  animation: logo-spin infinite 20s linear;
  height: 80px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}

.home,
.contacts,
.feedback,
.books,
.author,
.todo,
.director,
.developer {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.AllHome,
.AllBooksDetails,
.Todo,
.AllContacs {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AllHome {
  background-image: url("../../image/Back_home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
  
.AllBooks {
  justify-content: center;
  background-image: url('../../image/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
  
.AllContacs {
    background-image: url('../../image/img-3.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .AllBooksDetails {
    background-image: url('../../image/img-4.jpg');
    background-position: center;
    
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  };


  